PORT=5000
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=1221
PG_DB=porulonstack
JWT_SECRET=porulonstack_super_secret_jwt_key_2026
NODE_ENV=development

# SMTP Configuration
# SMTP_HOST=smtp.hostinger.com
# SMTP_PORT=587
# SMTP_USER=info@porulontech.com
# SMTP_PASS=Porulon7@4admin

# Resend Email Configuration
RESEND_API_KEY=your_secret_key
RESEND_FROM_EMAIL=Porulon Technologies <info@porulontech.com>
RESEND_ADMIN_EMAIL=info@porulontech.com


# CORS Allowed Origins (Comma Separated)
ALLOWED_ORIGINS=https://porulon-frontend.onrender.com,https://porulontech.com


# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=lnmmoie6
CLOUDINARY_API_KEY=135514939422539
CLOUDINARY_API_SECRET=778xdPqrhyH1PTkIbtJEycCc9Ew

